beautifulsoup4==4.9.1
Flask==1.1.2
lxml==4.9.1
networkx==2.4
openpyxl==3.0.3
pandas==1.0.3
PySimpleGUI==4.19.0
PyYAML==5.4.1
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
textile==4.0.1
xlrd==1.2.0
Pygments==2.2.0
tkreadonly==0.6.1

